
<div class="container mt3">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <% for (var i = 0; i < site.postData.length; i++) { %>
      <article>
        <div class="plhalf prhalf pthalf m0 mb3 border-full border-shadow clearfix" style="background: #fffff0;">
          <a href="<%= pathsToPosts[i] %>" class="big mbhalf bold-800 pt-sans m0"><%= site.postData[i].title %></a>
          <hr>
          <p class="minimal gray mb0"><span class="glyphicon glyphicon-time"></span> <%= site.dateFormatted[i] %></p>
          <hr>
          <a href="<%= pathsToPosts[i] %>">
            <img class="m0 img-responive" src="<%= site.postData[i].cover_image %>" alt="<%= site.postData[i].title %>"/>
          </a>
          <hr>
          <p class="m0 pbhalf pl1"><%= site.postData[i].description %></p>
          <a class="btn btn-primary pull-right mbhalf smallest" href="<%= pathsToPosts[i] %>">Read more &raquo;</a>
        </div>
      </article>
      <% } %>
    </div>
    
    <div class="col-xs-12 col-sm-4">
      <div class="mb2 pb1" style="background: #EFEFEF; border-radius: 3px;">
        <h4 class="mt0 pthalf mb1 plhalf gray smallest">Blog archive</h4>
        <h5 class="mt0 mbhalf pl1 dark-gray smallest">
          <a href="#y2018" data-toggle="collapse" class="no-underline">
            2018 <span class="gray normal">(<%= site.posts2018.length %>)</span>
            <b class="caret"></b>
          </a>
        </h5>
        <ul id="y2018" class="no-bullets prhalf plhalf pbhalf collapse">
        <% for (var i = 0; i < site.posts2018.length; i++) { %>
          <li class="pl1 mbhalf">
            <a class="smallest" href="<%= site.posts2018[i].link %>">
              &raquo; <%= site.posts2018[i].title %>
            </a>
          </li>
        <% } %>
        </ul>

        <h5 class="mt0 mbhalf pl1 align-left dark-gray smallest">
          <a href="#y2017" data-toggle="collapse" class="no-underline">
            2017 <span class="gray normal">(<%= site.posts2017.length %>)</span>
            <b class="caret"></b>
          </a>
        </h5>
        <ul id="y2017" class="no-bullets prhalf plhalf pbhalf collapse">
        <% for (var i = 0; i < site.posts2017.length; i++) { %>
          <li class="pl1 mbhalf">
            <a class="smallest" href="<%= site.posts2017[i].link %>">
              &raquo; <%= site.posts2017[i].title %>
            </a>
          </li>
        <% } %>
        </ul>
      </div>
    </div>
  </div>
</div>
