<!-- BLOGPOSTS -->
<div class="sm-col-12 md-col-10 lg-col-8 col-9 mx-auto align-left">

  
<% for (var i = 0; i < site.postdata.length; i++) { %>
  <div class="pt1 m0">
    <p class="smallest gray mb0 merryweather"><%= site.dateFormatted[i] %></p>
    <a href="<%= pathsToPosts[i] %>" class="big pb1 bold-700 merryweather"><%= site.postdata[i].title %></a>

    <div class="mt1 border-bottom-black" style="display: inline-block">
      <p class="small black left m0 pbhalf" style="width: 55%"><%= site.postdata[i].description %></p>
      <a href="<%= pathsToPosts[i] %>">
        <img class="right m0 pl1 " style="width: 45%" src="<%= site.postdata[i].cover_image %>" alt="<%= site.postdata[i].title %>"/>
      </a>
    </div>

  </div>
<% } %>
  <p class="mb2 small" >Feliratkozás a <a href="#">hírlevelemre</a>.</p>
</div>
