<!DOCTYPE html>
<html lang="en" class="light">
  <%- include ('partials/head-post') %>
  <body class="bg-white dark:bg-slate-800">
    <%- include ('partials/header') %>
    <main class="prose prose-slate prose-base lg:prose-lg mx-auto px-5 sm:px-0 md:px-0">
      <%- include ('partials/post-title') %>
      <%- body %>
    </main>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>
  </body>
</html>
