<!DOCTYPE html>
<html lang="<%= site.lang %>">
  <%- include ('partials/head-post') %>
  <body class="bg-white dark:bg-gray-800">
    <%- include ('partials/header') %>

    <section class="max-w-5xl mx-auto mt-8">
      <%- include ('partials/breadcrumb') %>
    </section>
    <main class="format lg:format-lg format-blue dark:format-invert max-w-5xl mx-auto px-5 sm:px-6 md:px-6 lg:px-0 pt-6">
      <%- include ('partials/post-title') %>
      <%- body %>
    </main>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>
  </body>
</html>
