<!DOCTYPE html>
<html lang="<%= site.lang %>">
<%- include ('partials/head-post') %>

<body>
<%- include ('partials/header') %>

<main class="container single" style="padding-bottom: 3rem;">
    <article>
    <%- include ('partials/post-title') %>
    <%- body %>
    </article>
</main>

<%- include ('partials/footer') %>
<%- include ('partials/scripts') %>
</body>
</html>
