<!DOCTYPE html>
<html lang="en" class="light">
<%- include ('partials/head-default.ejs') %>
  <body class="bg-white dark:bg-slate-800">
    <%- include ('partials/header') %>
    <main class="container w-full mx-auto pl-4 pr-4">
      <%- body %>
    </main>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>
  </body>
</html>
