<!DOCTYPE html>
<html lang="<%= site.lang %>">
<%- include ('partials/head-default.ejs') %>

<body>
<%- include ('partials/header') %>

<main class="container">
    <%- include ('partials/breadcrumb') %>
    <%- body %>
</main>

<%- include ('partials/footer') %>
<%- include ('partials/scripts') %>
</body>
</html>
