<!DOCTYPE html>
<html lang="<%= site.lang %>">
  <%- include ('partials/head-default.ejs') %>
  <body class="bg-white dark:bg-gray-800">
    <%- include ('partials/header') %>
    <div class="max-w-2xl mx-auto mt-8"><%- include ('partials/breadcrumb') %></div>
    <main class="container w-full mx-auto pl-4 pr-4 mt-8"><%- body %></main>
    <%- include ('partials/footer') %> <%- include ('partials/scripts') %>

    <script src="/assets/js/opening-hours.js" charset="utf-8"></script>
    <script>

      let data = <%- JSON.stringify(openingHours) %>;

      const hours = {
          "Monday": data && data.hours && data.hours.Monday ? data.hours.Monday : {},
          "Tuesday": data && data.hours && data.hours.Tuesday ? data.hours.Tuesday : {},
          "Wednesday": data && data.hours && data.hours.Wednesday ? data.hours.Wednesday : {},
          "Thursday": data && data.hours && data.hours.Thursday ? data.hours.Thursday : {},
          "Friday": data && data.hours && data.hours.Friday ? data.hours.Friday : {},
          "Saturday": data && data.hours && data.hours.Saturday ? data.hours.Saturday : {},
          "Sunday": data && data.hours && data.hours.Sunday ? data.hours.Sunday : {},
      }

      OpenHours.generateTime(hours);
    </script>
  </body>
</html>
