<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Average+Sans:400,400i|Montserrat:400,700&amp;subset=latin-ext">

  <title><%= site.title %></title>

  <!-- MORE METAS ARE COMING HERE -->
  <meta name="description" content="<%= site.description %>">
  <meta property="og:title" content="Főoldal / Gulácsi András">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="<%= site.title %>">
  <meta property="og:description" content="<%= site.description %>">
  <meta property="og:image" content="">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%= site.twitter %>">
  <meta name="twitter:creator" content="<%= site.twitter %>">
  <meta name="twitter:title" content="Főoldal / Gulácsi András">
  <meta name="twitter:description" content="<%= site.description %>">
  <meta name="twitter:url" content="">
  <meta name="twitter:image" content="">

  <link href="assets/stylesheet/main.css" rel="stylesheet" type="text/css">
</head>