<footer class="footer">
  <div>
    <a class="footer--logo" href="<%= site.url %>/">
      <img src="<%= site.url %>/assets/images/static-site-express.png" alt="<%= site.title %>" />
      <%= site.title %>
    </a>

    <p><%= site.quote %></p>

    <ul class="footer--nav">

      <li>
        <% if (pageName === 'index') { %>
        <a href="<%= site.url %>/index.html" aria-current="page">Home</a>
        <% } else { %>
        <a href="<%= site.url %>/index.html">Home</a>
        <% } %>
      </li>

      <li>
        <% if (pageName === 'contact') { %>
        <a href="<%= site.url %>/contact.html" aria-current="page">Contact</a>
        <% } else { %>
        <a href="<%= site.url %>/contact.html">Contact</a>
        <% } %>
      </li>

      <li>
        <% if (pageName === 'writings') { %>
        <a href="<%= site.url %>/writings.html" aria-current="page">Writings</a>
        <% } else { %>
        <a href="<%= site.url %>/writings.html">Writings</a>
        <% } %>
      </li>

      <li>
        <% if (pageName === 'message-sent') { %>
        <a href="<%= site.url %>/message-sent.html" aria-current="page">Message sent</a>
        <% } else { %>
        <a href="<%= site.url %>/message-sent.html">Message sent</a>
        <% } %>
      </li>

      <li>
        <% if (pageName === 'open-hours') { %>
        <a href="<%= site.url %>/open-hours.html" aria-current="page">Open hours</a>
        <% } else { %>
        <a href="<%= site.url %>/open-hours.html">Open hours</a>
        <% } %>
      </li>

      <li>
        <% if (pageName === '404') { %>
        <a href="<%= site.url %>/404.html" aria-current="page">Page 404</a>
        <% } else { %>
        <a href="<%= site.url %>/404.html">Page 404</a>
        <% } %>
      </li>

    </ul>

    <div class="footer--copyright">© 2019-<%= site.currentYear %> <a href="<%= site.githubProfile %>" class="hover:underline"><%= site.author %></a>. MIT license.</div>
  </div>
</footer>
