<header class="header">
  <nav>
      <a href="<%= site.url %>/">
        <img src="<%= site.url %>/assets/images/static-site-express.png" alt="<%= site.title %>" />
        <span><%= site.title %></span>
      </a>

      <div id="navbar-default" style="display: inline">
        <ul>
          <li>
            <% if (pageName === 'index') { %>
            <a href="<%= site.url %>/index.html" aria-current="page">Home</a>
            <% } else { %>
            <a href="<%= site.url %>/index.html">Home</a>
            <% } %>
          </li>
          <li>
            <% if (pageName === 'contact') { %>
            <a href="<%= site.url %>/contact.html" aria-current="page">Contact</a>
            <% } else { %>
            <a href="<%= site.url %>/contact.html">Contact</a>
            <% } %>
          </li>
          <li>
            <% if (pageName === 'writings') { %>
            <a href="<%= site.url %>/writings.html" aria-current="page">Writings</a>
            <% } else { %>
            <a href="<%= site.url %>/writings.html">Writings</a>
            <% } %>
          </li>
          <li>
            <% if (pageName === 'message-sent') { %>
            <a href="<%= site.url %>/message-sent.html" aria-current="page">Message sent</a>
            <% } else { %>
            <a href="<%= site.url %>/message-sent.html">Message sent</a>
            <% } %>
          </li>
          <li>
            <% if (pageName === 'open-hours') { %>
            <a href="<%= site.url %>/open-hours.html" aria-current="page">Open hours</a>
            <% } else { %>
            <a href="<%= site.url %>/open-hours.html">Open hours</a>
            <% } %>
          </li>
          <li>
            <% if (pageName === '404') { %>
            <a href="<%= site.url %>/404.html" aria-current="page">Page 404</a>
            <% } else { %>
            <a href="<%= site.url %>/404.html">Page 404</a>
            <% } %>
          </li>
        </ul>
      </div>

    <div>
      <% if (site.darkMode) { %>
        <button id="theme-toggle" type="button">
          <svg id="theme-toggle-dark-icon" class="hidden" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
          </svg>
          <svg id="theme-toggle-light-icon" class="hidden" fill="currentColor" viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                  fill-rule="evenodd" clip-rule="evenodd"></path>
          </svg>
        </button>
      <% } %>
      <button
              id="toggle-menu"
              data-collapse-toggle="navbar-default"
              type="button"
              aria-controls="navbar-default"
              aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
                  fill-rule="evenodd"
                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
          ></path>
        </svg>
      </button>
    </div>
  </nav>
</header>
