<h1>Index page</h1>

<p>Posts list</p>
<ol>
  <% for (var i = postsDataForIndexPage.length - 1, j = 0; i >= 0; i--) { %>
  <li><a href="<%= postsDataForIndexPage[i].pathToPost %>">
    <%= postsDataForIndexPage[i].title %></a></li>
  <% j = j + 1 %>
  <% } %>
</ol>

<p>Posts by month and year</p>
<% for (var i = 0; i < blogArchive.length; i++) { %>
<ul>
  <% if (blogArchive[i].months.dec) { %>
  <li>
    <h2>December
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].dec) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].dec.link %>">
            <%= blogArchive[i].articles[j].dec.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.nov) { %>
  <li>
    <h2>November
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].nov) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].nov.link %>">
            <%= blogArchive[i].articles[j].nov.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.oct) { %>
  <li>
    <h2>October
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].oct) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].oct.link %>">
            <%= blogArchive[i].articles[j].oct.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.sep) { %>
  <li>
    <h2>September
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].sep) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].sep.link %>">
            <%= blogArchive[i].articles[j].sep.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.aug) { %>
  <li>
    <h2>August
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].aug) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].aug.link %>">
            <%= blogArchive[i].articles[j].aug.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.jul) { %>
  <li>
    <h2>July
      <%= blogArchive[i].year %>
      </h2>
      <ul>
        <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
        <% if (blogArchive[i].articles[j].jul) { %>
        <li>
          <a href="<%= blogArchive[i].articles[j].jul.link %>">
            <%= blogArchive[i].articles[j].jul.title %>
          </a>
        </li>
        <% } %>
        <% } %>
      </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.jun) { %>
  <li>
    <h2>June
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].jun) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].jun.link %>">
          <%= blogArchive[i].articles[j].jun.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.may) { %>
  <li>
    <h2>May
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].may) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].may.link %>">
          <%= blogArchive[i].articles[j].may.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.apr) { %>
  <li>
    <h2>April
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].apr) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].apr.link %>">
          <%= blogArchive[i].articles[j].apr.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.mar) { %>
  <li>
    <h2>March
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].mar) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].mar.link %>">
          <%= blogArchive[i].articles[j].mar.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.feb) { %>
  <li>
    <h2>February
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].feb) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].feb.link %>">
          <%= blogArchive[i].articles[j].feb.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
  <% if (blogArchive[i].months.jan) { %>
  <li>
    <h2>January
      <%= blogArchive[i].year %>
    </h2>
    <ul>
      <% for (var j = 0; j < blogArchive[i].articles.length; j++) { %>
      <% if (blogArchive[i].articles[j].jan) { %>
      <li>
        <a href="<%= blogArchive[i].articles[j].jan.link %>">
          <%= blogArchive[i].articles[j].jan.title %>
        </a>
      </li>
      <% } %>
      <% } %>
    </ul>
  </li>
  <% } %>
</ul>
<% } %>
