<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head-post') %>
<body>
  <!-- MAIN CONTENT -->
  <main class="mt1 pr1 pl1 clear-padding">

    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-post') %>

    <!-- BLOGPOST CONTENT -->
    <%- body %>

  </main>

  <!-- FOOTER, SOCIAL MEDIA -->
  <%- include('../partials/footer') %>
  <!-- NAVIGATION BAR -->
  <%- include('../partials/navbar-post') %>
</body>
</html>