<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head %>
<body>
  <main>
    <div class="container mt3">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 align-left">
      <%- body %>
      <%- include partials/navbar-default %>
      </div>
    </div>
  </main>
  <%- include partials/footer-post %>
  <%- include partials/bootstrap %>
</body>
</html>