<!DOCTYPE html>
<html lang="hu">
<%- include ('partials/head-default.ejs') %>
  <body>
    <%- include ('partials/header') %>
    <main>
      <%- body %>
    </main>
    <%- include ('partials/footer') %>
    <%- include ('partials/scripts') %>
  </body>
</html>
