<!DOCTYPE html>
<html lang="hu">
<%- include ('partials/head') %>

<body>
  <%- include ('partials/header') %>
  <%- include ('partials/intro') %>
  <div class="container-fluid m0 p0">
    <div class="row mx-responsive m0 p0">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
        <main>
          <%- body %>
        </main>
      </div>
    </div>
  </div>
  <%- include ('partials/contact') %>
  <%- include ('partials/footer') %>
  <%- include ('partials/scripts') %>
  <%- include ('partials/tracking') %>
  <script src="/assets/js/identity.js"></script>
</body>

</html>