<!DOCTYPE html>
<html lang="hu">
  <!-- HEAD -->
  <%- include('../partials/head') %>
<body>
  <!-- MAIN CONTENT -->
  <main class="mt1 pr1 pl1 clear-padding">

    <!-- HEADER -->
    <%- include('../partials/header') %>

    <!-- NAVIGATION BAR -->
    <%- include('../partials/navbar-home') %>

    <!-- BLOGPOSTS -->
    <%- body %>

    <!-- NEWSLETTER, SOCIAL MEDIA -->
    <%- include('../partials/newsletter') %>

  </main>

  <!-- FOOTER -->
  <%- include('../partials/footer') %>
</body>
</html>