<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head %>
<body>
  <%- include partials/header %>
  <main> 
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/scripts %>
  <%- include partials/tracking %>
  <script src="/assets/js/identity.js"></script>
</body>
</html>