<!DOCTYPE html>
<html lang="hu">
  <%- include partials/head.ejs %>
<body>
  <%- include partials/header %>
  <%- include partials/navbar-404 %>
  <main>
    <%- body %>
  </main>
  <%- include partials/footer %>
  <%- include partials/bootstrap %>
</body>
</html>